# WordPress-kärnfilerna
/wp-admin/
/wp-includes/

# Konfigurationsfiler
wp-config.php
/.htaccess
/php.ini
/php.error.log
/nginx.conf
/web.config

# Innehåll som genereras av användare och cache-filer
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/
/wp-content/backup-db/
/wp-content/advanced-cache.php
/wp-content/cache/
/wp-content/backups/
/wp-content/themes/*/cache/
/wp-content/plugins/*/cache/

# Specifika filer i wp-content
/wp-content/db.php

# Specifika WooCommerce-filer
/wp-content/plugins/woocommerce/logs/
/wp-content/uploads/woocommerce_uploads/

# Ignorera alla temaer och plugins förutom de som är skräddarsydda
# Exempelvis kan du ignorera alla plugins och sedan vitlista ditt eget tema
/wp-content/plugins/
/wp-content/themes/
!wp-content/plugins/mitt-plugin/
!wp-content/themes/mitt-tema/

# Ignorera node moduler och kompilerade statiska filer
/node_modules/
npm-debug.log
/yarn-error.log
/yarn.lock

# Ignorera systemfiler
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignorera IDE och redigeringsfiler
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.swn
*~

# Ignorera Composer-filer
/vendor/
composer.lock
